@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple global styles */
html,
body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}
